body{
    background-color:whitesmoke ;
    }
     h1{ BIJUTERIA 
    color: white ;
    font-family:arial ;
    background: Temos várias bijuterias, confira: ;
    }
    p{
    color: black ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 25 ;
    text-align: center;
    background: whitesmoke ;
    }
