body{
    background-color:wheat ;
    }
     h1{ BIJUTERIA 
    color: white ;
    font-family:arial ;
    background: Temos várias bijuterias, confira: ;
    }
    p{
    color: burlywood ;
    font-family: Geneva ;
    font-size: 20 ;
    text-align: center;
    background: whitesmoke ;
    }
